    .notification-dropdown {
      border-radius: 12px;
      box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
      max-height: 400px;
      overflow-y: auto;
      width: 350px;
    }

    .notification-item {
      align-items: flex-start;
      border-bottom: 1px solid #f1f1f1;
      display: flex;
      padding: 10px;
    }

    .notification-item:last-child {
      border-bottom: none;
    }

    .notification-avatar {
      border-radius: 50%;
      height: 40px;
      margin-right: 10px;
      position: relative;
      width: 40px;
    }

    .notification-counter{
        left:20px;
        position:absolute;
        top:0;
    }

    .status-dot {
      border: 2px solid #fff;
      border-radius: 50%;
      bottom: 30px;
      height: 10px;
      position: absolute;
      right: 0;
      width: 10px;
    }

    .status-online {
      background-color: #28a745;
    }

    .status-offline {
      background-color: #dc3545;
    }

    .notification-text {
      flex-grow: 1;
      font-size: 14px;
    }

    .notification-text strong {
      color: #000;
    }

    .notification-time {
      color: #888;
      font-size: 12px;
    }

    .view-all {
      background: #f9f9f9;
      padding: 10px;
      text-align: center;
    }

    .view-all a {
      color: #007bff;
      font-weight: 500;
      text-decoration: none;
    }