/* Layout */
.profile-page {
  padding: 30px;
}

/* Components */
.profile-page__card{
  border: 1px solid #e9ecef;
  border-radius: 12px;
  margin-bottom: 10px;
}

.profile-page__avatar {
  border-radius: 50%;
  height: 80px;
  object-fit: cover;
  width: 80px;
}

/* Responsive */
@media (width <= 768px) {
  .profile-page__avatar {
    height: 60px;
    width: 60px;
  }
}
