.dropdown-menu-custom:focus,
.dropdown-menu-custom:active{
    box-shadow: none !important;
    outline: none !important;
}



/* Кастомный скроллбар */
.notification-dropdown::-webkit-scrollbar {
    width: 8px;
}

.notification-dropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.notification-dropdown::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 10px;
    transition: background 0.3s;
}

.notification-dropdown::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* Firefox */
.notification-dropdown {
    scrollbar-color: #bbb #f1f1f1;
    scrollbar-width: thin;
}
