.dxb-btn{
    align-items: center;
    display: flex;
    justify-content: center;
}

[data-bs-theme="light"] .dxb-btn{
    border-color:var(--border-color-light);
    color: var(--text-color-light);
}

[data-bs-theme="dark"] .dxb-btn{
    background-color: var(--background-color-dark);
    border-color: var(--border-color-dark);
    color: var(--text-color-dark);
}

[data-bs-theme="light"] .dxb-btn:hover
{
    background-color:var(--background-color-hover-light);
    color: var(--text-color-hover-light);
}

[data-bs-theme="dark"] .dxb-btn:hover{
    background-color:var(--background-color-hover-dark);
}
