/* ======================================
   Sidebar (desktop)
====================================== */
.sidebar {
  min-height: 100vh;
}

.sidebar-logo {
  width: 90%;
  margin: 15px;
  height: auto;
}

.app-sidebar {
  flex: 0 0 280px;
  width: 280px;
  color: #fff;
  order: 0;
  display: none;
  transition: all 0.3s;
}

.app-sidebar--visible {
  display: block;
}

/* ======================================
   Menu (shared + themes)
====================================== */
.menu-text {
  font-size: 0.75rem;
  color: rgb(152 162 179);
}

.menu-item {
  font-size: 14px;
  transition: none !important;
}

[data-bs-theme="light"] .menu-item {
  color: #344054;
}

[data-bs-theme="light"] .menu-item:hover {
  background-color: rgb(242 244 247);
  color: #344054;
}

[data-bs-theme="dark"] .menu-item {
  color: #dee2e6;
}

[data-bs-theme="dark"] .menu-item:hover {
  background-color: #ffffff0d;
}

/* ======================================
   Content (desktop)
====================================== */
.content {
  padding: 20px;
}

main {
  margin-left: 50px;
  margin-right: 50px;
}

.navigation-menu {
  padding-left: 15px;
}

/* ======================================
   Mobile layout (<768px)
====================================== */
@media (max-width: 768px) {
  /* Layout */
  .app-layout {
    flex-direction: column;
  }

  /* Sidebar */
  .app-sidebar {
    width: 100%;
    flex: 0 0 auto;
    order: 0;
    display: none; /* скрыт по умолчанию */
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .app-sidebar--visible {
    display: flex;
  }

  .app-sidebar > .nav {
    display: block;
    width: 100%;
  }

  .app-sidebar .nav .nav-item {
    margin: 0.5rem 0;
  }

  .app-sidebar .nav .collapse .nav {
    display: block;
    text-align: center;
    padding-left: 0;
  }

  .sidebar-logo {
    width: 60%;
    margin: auto;
    height: auto;
  }

  /* Content */
  .app-main {
    order: 1;
  }

  main {
    margin: 0;
    padding: 0.5rem;
  }

  .navigation-menu {
    padding-left: 0;
  }

  /* Header */
  .top-bar-left,
  .top-bar-right {
    width: 100%;
    margin-bottom: 8px;
  }
}
