.signin-description{
  color:gray;
  font-size: 12px;
}

[data-bs-theme="light"] .bg-side{
  background-color: #6278e7;
  color: white;
}

[data-bs-theme="dark"] .bg-side {
  background-color: #0d1b61;
  color: white;
}

[data-bs-theme="dark"] .auth-btn{
  background-color: var(--background-color-transparent);
  color:var(--text-color-dark);
}

[data-bs-theme="light"] .auth-left-panel,
[data-bs-theme="light"] .auth-header,
[data-bs-theme="light"] .auth-page{
  background-color: var(--background-color-light); 
}

[data-bs-theme="dark"] .auth-left-panel,
[data-bs-theme="dark"] .auth-header,
[data-bs-theme="dark"] .auth-page{
  background-color: #1d2126; 
}

