.profilePhoto {
    width: 40px;
    height: 40px;
}

.profile-info {
    color: rgb(52 64 84);
}

.profile-info small {
    font-size: 12px;
    color: rgb(102 112 133);
}

.dropdown-toggle-custom::after {
    display: none;
}

.dropdown-icon {
    transition: transform 0.3s;
}

.dropdown .dropdown-toggle-custom.show .dropdown-icon {
    transform: rotate(180deg);
}

.dropdown-menu-wide {
    min-width: 250px;
    max-width: 350px;
    border-radius: 5%;
    color: rgb(52 64 84);
}

.dropdown-menu-wide .icon {
    margin-right: 7px;
}

.notification-counter{
    position:absolute;
    top:5px;
    left:35px;
}

.notification-dropdown {
  position: absolute;
  top: 100%; /* под кнопкой */
  right: 0;  /* правая граница меню совпадает с правой границей кнопки */
  margin-top: 0.5rem; /* отступ сверху */
  min-width: 200px; /* или ширину по твоему желанию */
  z-index: 1000;
}

.dxb-profile-menu-toggle{
    cursor: pointer;
}
@media (max-width: 767.98px) {
    .profilePhoto {
        width: 30px;
        height: 30px;
    }
    .btn-circle{
        width: 30px;
        height: 30px;
    }

    .top-bar-left {
      width: 50%;
    }

    .sidebar-toggle{
        width:30px;
        height:30px;
        font-size:10px;
        padding:5px;
    }

    .search-input,
    .search-input input,
    .search-input button
    {
        height:30px;
    }

        .search-input input,
    .search-input button{
        padding:5px;
        font-size:10px;
    }

    .profile-dropdown,
    .profile-dropdown .dropdown-menu-custom{
        padding:3px;
    }

}

