.profile-info {
    color: rgb(52 64 84);
}

.profile-info small {
    color: rgb(102 112 133);
    font-size: 12px;
}

.dropdown-toggle-custom::after {
    display: none;
}

.dropdown-icon {
    transition: transform 0.3s;
}

.dropdown .dropdown-toggle-custom.show .dropdown-icon {
    transform: rotate(180deg);
}

.dropdown-menu-wide {
    border-radius: 5%;
    color: rgb(52 64 84);
    max-width: 350px;
    min-width: 250px;
}

.dropdown-menu-wide .icon {
    margin-right: 7px;
}

.notification-counter{
    left:35px;
    position:absolute;
    top:5px;
}

.dxb-profile-menu-toggle{
    cursor: pointer;
    user-select: none;
}

@media (width <= 767.98px) {
    .btn-circle{
        height: 30px;
        width: 30px;
    }

    .top-bar-left {
      width: 50%;
    }

    .sidebar-toggle{
        font-size:10px;
        height:30px;
        padding:5px;
        width:30px;
    }

    .search-input,
    .search-input input,
    .search-input button
    {
        height:30px;
    }

        .search-input input,
    .search-input button{
        font-size:10px;
        padding:5px;
    }

    .profile-dropdown,
    .profile-dropdown .dropdown-menu-custom{
        padding:3px;
    }

}

