/* =======================================
   Базовые настройки
======================================= */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: Outfit, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  overflow-x: hidden;
}

/* =======================================
   Layout
======================================= */
.app-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

/* =======================================
   Typography
======================================= */
.text-regular {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

/* =======================================
   Utilities
======================================= */
.dxb-h-40 {
  height: 40px;
}

.dxb-size-40 {
  height: 40px;
  width: 40px;
}
