:root{
    /* colors */

    --color-primary: #4361ee;
    --color-gray: #6c757d;

    /* border */
    --border-color-light: #c5c7c9;
    --border-color-dark: #6c757d;
    
    /* text */
    --text-color-light: #808080;
    --text-color-hover-light: #344054;
    --text-color-dark: #efefef;

    /* background */
    --background-color-dark: #343a40;
    --background-color-light: #efefef;
    --background-color-hover-light: #f2f4f7;
    --background-color-hover-dark: #ffffff0d;
    --background-color-transparent: transparent;
    --background-color-primary: #eef3ff;


}




